@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

.ball {
  border: 15px solid green;
}
p {
  color: #bc6cda;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 30px;
}
#actionjg {
  background-color: #bd6cda;
  border-radius: 5px;
  border: 3px solid #641085;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 18px;
  padding: 15px 50px;
}
#actionjg:hover {
  background-color: #c89ad9;
}
.jungler {
  background-color: #45cb85;
  border: 5px solid #2d9f64;
  width: 300px;
  height: 350px;
}
img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.btnjng {
  padding-left: 35px;
}
